body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(90deg, white 0%, lightblue 100%);
}

h1 {
    color:#000000;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
}

#welcome-text {
    color: rgb(234, 0, 255);
    font-size: 40px;
}

img {
    width: 600px;
}

img:hover {
    width: 160px;
}

a {
    text-decoration: none;
    color: #ff0000;
}